openapi: 3.0.3
info:
  title: Mesa de Ayuda Inteligente - Helpdesk BFF API
  version: 0.1.0
  description: API inicial para consola, Teams adapter y orquestacion de mesa de ayuda.
servers:
  - url: https://api.ternova.group/helpdesk/api/v1
    description: Production via Azure API Management
  - url: https://qa-api.ternova.group/helpdesk/api/v1
    description: QA via Azure API Management
security:
  - bearerAuth: []
tags:
  - name: Conversations
  - name: Queue
  - name: Agents
  - name: Assignments
  - name: AI
  - name: GLPI
paths:
  /conversations:
    post:
      tags: [Conversations]
      summary: Create a support conversation
      operationId: createConversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConversationRequest"
      responses:
        "201":
          description: Conversation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /conversations/{conversationId}:
    get:
      tags: [Conversations]
      summary: Get conversation detail
      operationId: getConversation
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      responses:
        "200":
          description: Conversation detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationDetail"
        "404":
          $ref: "#/components/responses/NotFound"
  /conversations/{conversationId}/messages:
    post:
      tags: [Conversations]
      summary: Add a message to a conversation
      operationId: addConversationMessage
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageRequest"
      responses:
        "202":
          description: Message accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedCommand"
  /queue:
    get:
      tags: [Queue]
      summary: Get operational queue
      operationId: getQueue
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [new, triage, active, waiting_user, assigned, resolved]
        - name: riskLevel
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
      responses:
        "200":
          description: Queue items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/QueueItem"
  /agents:
    get:
      tags: [Agents]
      summary: List agents in the N1 pool
      operationId: listAgents
      responses:
        "200":
          description: Agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"
  /conversations/{conversationId}/assignments:
    post:
      tags: [Assignments]
      summary: Assign or reassign a conversation
      operationId: assignConversation
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignmentRequest"
      responses:
        "202":
          description: Assignment command accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedCommand"
  /ai/triage:
    post:
      tags: [AI]
      summary: Request AI triage recommendation
      operationId: requestTriage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriageRequest"
      responses:
        "200":
          description: Triage recommendation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriageResponse"
  /conversations/{conversationId}/ai-advice:
    post:
      tags: [AI]
      summary: Request DGX Spark advice for an operator
      operationId: requestAiAdvice
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiAdviceRequest"
      responses:
        "200":
          description: Advice generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiAdviceResponse"
  /conversations/{conversationId}/glpi-ticket:
    post:
      tags: [GLPI]
      summary: Request GLPI ticket creation
      operationId: createGlpiTicket
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGlpiTicketRequest"
      responses:
        "202":
          description: GLPI ticket creation command accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedCommand"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Entra ID OAuth2/JWT token.
  parameters:
    ConversationId:
      name: conversationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    CreateConversationRequest:
      type: object
      required: [channel, externalThreadId, requester]
      properties:
        channel:
          type: string
          enum: [teams]
        externalThreadId:
          type: string
        requester:
          $ref: "#/components/schemas/Requester"
        initialMessage:
          type: string
          maxLength: 4000
    Requester:
      type: object
      required: [entraObjectId, displayName]
      properties:
        entraObjectId:
          type: string
          format: uuid
        displayName:
          type: string
        email:
          type: string
          format: email
        department:
          type: string
        location:
          type: string
    Conversation:
      type: object
      required: [id, status, channel, createdAt]
      properties:
        id:
          type: string
          format: uuid
        channel:
          type: string
          enum: [teams]
        externalThreadId:
          type: string
        status:
          type: string
          enum: [new, triage, active, waiting_user, assigned, resolved, closed]
        currentAgent:
          $ref: "#/components/schemas/AgentRef"
        glpiTicketId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ConversationDetail:
      allOf:
        - $ref: "#/components/schemas/Conversation"
        - type: object
          properties:
            requester:
              $ref: "#/components/schemas/Requester"
            classification:
              $ref: "#/components/schemas/Classification"
            messages:
              type: array
              items:
                $ref: "#/components/schemas/Message"
            audit:
              type: array
              items:
                $ref: "#/components/schemas/AuditEvent"
    CreateMessageRequest:
      type: object
      required: [authorType, body]
      properties:
        authorType:
          type: string
          enum: [requester, human_agent, bot_agent, system]
        body:
          type: string
          maxLength: 4000
        visibility:
          type: string
          enum: [user_visible, internal_note]
          default: user_visible
    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        authorType:
          type: string
        authorName:
          type: string
        body:
          type: string
        createdAt:
          type: string
          format: date-time
    QueueItem:
      type: object
      properties:
        conversationId:
          type: string
          format: uuid
        requesterName:
          type: string
        summary:
          type: string
        status:
          type: string
        slaMinutesRemaining:
          type: integer
        currentAgent:
          $ref: "#/components/schemas/AgentRef"
        classification:
          $ref: "#/components/schemas/Classification"
    Agent:
      type: object
      required: [id, name, type, availability]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [human, bot]
        variant:
          type: string
          nullable: true
          enum: [Nova, Atlas, Cora]
        version:
          type: string
        availability:
          type: string
          enum: [available, busy, offline]
        skills:
          type: array
          items:
            type: string
        activeConversations:
          type: integer
        maxConcurrentConversations:
          type: integer
    AgentRef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [human, bot]
        variant:
          type: string
          nullable: true
    AssignmentRequest:
      type: object
      required: [targetType, reason]
      properties:
        targetType:
          type: string
          enum: [agent, group, auto]
        targetId:
          type: string
          nullable: true
        reason:
          type: string
          maxLength: 1000
        notifyRequester:
          type: boolean
          default: true
    TriageRequest:
      type: object
      required: [conversationId, message]
      properties:
        conversationId:
          type: string
          format: uuid
        message:
          type: string
        dataClassification:
          type: string
          enum: [publica, uso_interno, confidencial, restringido]
          default: uso_interno
    TriageResponse:
      type: object
      properties:
        classification:
          $ref: "#/components/schemas/Classification"
        missingInformation:
          type: array
          items:
            type: string
        recommendedAgentType:
          type: string
          enum: [bot, human, specialist]
        recommendedAssignment:
          type: string
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
        explanation:
          type: string
    AiAdviceRequest:
      type: object
      required: [operatorQuestion]
      properties:
        operatorQuestion:
          type: string
          maxLength: 2000
        includeDraftReply:
          type: boolean
          default: true
    AiAdviceResponse:
      type: object
      properties:
        advice:
          type: string
        draftReply:
          type: string
        requiredApproval:
          type: boolean
        sources:
          type: array
          items:
            type: string
        auditId:
          type: string
          format: uuid
    CreateGlpiTicketRequest:
      type: object
      required: [title, description, classification]
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 8000
        classification:
          $ref: "#/components/schemas/Classification"
        requesterEntraObjectId:
          type: string
          format: uuid
        assignmentGroup:
          type: string
          nullable: true
    Classification:
      type: object
      properties:
        category:
          type: string
        subcategory:
          type: string
        impact:
          type: string
          enum: [low, medium, high]
        urgency:
          type: string
          enum: [low, medium, high]
        riskLevel:
          type: string
          enum: [low, medium, high, critical]
    AuditEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        eventType:
          type: string
        actor:
          type: string
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    AcceptedCommand:
      type: object
      properties:
        commandId:
          type: string
          format: uuid
        status:
          type: string
          enum: [accepted]
        traceId:
          type: string
    ErrorResponse:
      type: object
      properties:
        traceId:
          type: string
        code:
          type: string
        message:
          type: string
